$color--black: #000;
// $color--black: #fff;
$color--grey10: #171a20;
$color--grey15: #222;
$color--grey20: #393c41;
$color--grey25: #444;
$color--grey30: #5c5e62;
$color--grey35: #757575;
$color--grey40: #a2a3a5;
$color--grey50: #d0d1d2;
$color--grey60: #eee;
$color--grey70: #f4f4f4;
$color--white: #fff;
$color--blue30: #3e6ae1;
$color--blue20: #3457b1;
$color--blue10: #2e4994;
$color--red10: #b74134;
$color--red20: #ed4e3b;
$color--green10: #12bb00;
$color--green20: #02e359;
$color--yellow: #fbb01b;
