$border-style: solid;
$border-radius: 8px;
$border-radius--forms: 20px;
$border-radius--pill: 100px;
$border-width--hairline: 0.5px;
$border-width--small: 1px;
$border-width--medium: 2px;
$border-width--large: 3px;

$font-size--12: 1.2rem;
$font-size--14: 1.4rem;
$font-size--15: 1.5rem;
$font-size--16: 1.6rem;
$font-size--18: 1.8rem;
$font-size--20: 2.0rem;
$font-size--24: 2.4rem;
$font-size--28: 2.8rem;
$font-size--30: 3.0rem;
$font-size--40: 4.0rem;
$font-size--50: 5.0rem;
$font-size--60: 6rem;
$font-size--90: 9rem;

$nav-height: 6.4rem;
$padding: 0 12vw;
$section-gap: 5rem;
$basic-line-height: 20px;

$button-padding: 0.4rem 1.6rem;
