@use "/src/styles/fonts";
@use "/src/styles/breakPoints";
@use "/src/styles/variables";
@use "/src/styles/colors";

.works {
  padding: variables.$padding;
  margin: calc(variables.$section-gap + 2rem) 0 variables.$section-gap;
  .works__content {

    .works__content-h2 {
      font-family: fonts.$font-header;
      font-size: variables.$font-size--24;
      font-weight: fonts.$font-bold;
      margin-bottom: 3rem;
      text-transform: lowercase;
    }

    .works__content-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: max-content;
      gap: 3rem;

      h1 {
        font-size: variables.$font-size--16;
        color: rgb(130 130 130 / 1);
        font-family: fonts.$font-header;
        font-weight: fonts.$font-bold;
        text-transform: lowercase;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

@media all and (max-width: breakPoints.$vp-mobile) {
  .works {
    .works__content {
      padding: 2rem 0;

      .works__content-h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      .works__content-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
      }
    }
  }
}
