@use "/src/styles/fonts";
@use "/src/styles/breakPoints";
@use "/src/styles/variables";
@use "/src/styles/colors";

.works {
  padding: variables.$padding;
  margin: calc(variables.$section-gap + 2rem) 0 variables.$section-gap;
  .works__content {

    .works__content-h2 {
      font-family: fonts.$font-latin--display;
      font-size: variables.$font-size--28;
      font-weight: 500;
      margin-bottom: 3rem;
    }

    .works__content-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: max-content;
      gap: 3rem;
    }
  }
}

@media all and (max-width: breakPoints.$vp-mobile) {
  .works {
    .works__content {
      padding: 2rem 0;

      .works__content-h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      .works__content-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
      }
    }
  }
}
