@use "/src/styles/fonts";
@use "/src/styles/breakPoints";
@use "/src/styles/variables";
@use "/src/styles/colors";

.card {

  .card__img {
    overflow: hidden;
    border: variables.$border-width--small solid colors.$color--black;
    width: 100%;
    img {
      z-index: -1;
      height: 18rem;
      display: block;
      width: 100%;
      image-rendering: optimizeSpeed;
      object-fit: cover;
    }  
  }

  .card__block {
    margin-top: 1.5rem;
    .card__title {
      font-family: fonts.$font-header;
      font-weight: fonts.$font-semibold;
      font-size: variables.$font-size--16;

      display: flex;
      gap: 1rem;
      align-items: center;

      margin-bottom: .5rem;
    }
    .card__desc {
      font-family: fonts.$font-para;
      max-width: 95%;
      font-size: variables.$font-size--14;
      font-weight: fonts.$font-regular;
      line-height: 170%;
      color: rgb(130 130 130 / 1);
    }
  }
}

@media all and (max-width: breakPoints.$vp-mobile) {
  .card {
    .card__subHeading {
      letter-spacing: 0.3rem;
      font-size: 1rem;
    }

    .card__heading {
      font-size: 1.6rem;
    }

    .card__desc {
      font-size: 1.4rem;
    }
  }
}
