@use "/src/styles/fonts";
@use "/src/styles/breakPoints";
@use "/src/styles/variables";
@use "/src/styles/colors";

.aboutMe__wrapper {
  padding: variables.$padding;

  .aboutMe__content {
    padding: 2rem 0;
    margin-bottom: 3rem;

    .aboutMe__content-h2 {
      font-family: fonts.$font-header;
      font-size: variables.$font-size--24;
      font-weight: fonts.$font-bold;
      margin-bottom: 1rem;
      text-transform: lowercase;
    }
  }

  .aboutMe__content-p {
    font-size: variables.$font-size--16;
    font-family: fonts.$font-para;
    font-weight: fonts.$font-regular;
    line-height: 140%;
    text-align: justify;
    color: rgb(130 130 130 / 1);
  }

  .aboutMe__workBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12rem;

    .workBlock__wrapper {
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 105%;
        transform: translateY(-50%);
      }
      .workBlock__wrapper-number {
        font-family: fonts.$font-header;
        font-size: variables.$font-size--16;
        margin-bottom: 0.5rem;
      }

      .workBlock__wrapper-content {
        h3 {
          font-family: fonts.$font-header;
          font-weight: fonts.$font-semibold;
          text-transform: lowercase;
          font-size: variables.$font-size--16;
          margin-bottom: 1rem;
        }

        p {
          font-family: fonts.$font-para;
          max-width: 95%;
          text-align: justify;
          font-size: variables.$font-size--14;
          font-weight: fonts.$font-regular;
          line-height: 140%;
          color: rgb(130 130 130 / 1);
        }
      }
    }
  }

  .aboutMe__skillBlock {
    margin-bottom: 5rem;
    border-left: variables.$border-width--small solid colors.$color--grey15;

    header {
      font-size: variables.$font-size--18;
      font-family: fonts.$font-para;
      display: flex;
      cursor: pointer;
      padding: 2rem;
    }
  }

  .aboutMe__testimonials-Block {

    .testimonial__card {
      margin: 2rem 0;
      border-bottom: 1px solid rgb(184, 184, 184);
      .testimonial__card_title {
        cursor: pointer;
        font-family: fonts.$font-header;
        font-weight: fonts.$font-semibold;
        font-size: variables.$font-size--16;
        color: rgb(18 22 27 / 1);
        line-height: 28px;
        margin: 1rem 0;
        display: flex;
        align-items: center;
        gap: .5rem;
        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      .testimonial__card__content {
        font-family: fonts.$font-para;
        font-size: variables.$font-size--14;
        color: rgb(130 130 130 / 1);
        margin: .8rem 0;
      }
    }
  }

  .testimonial__card1 {
    grid-area: card1;
  }

  .testimonial__card2 {
    grid-area: card2;
  }

  .testimonial__card3 {
    grid-area: card3;
  }

  .testimonial__card4 {
    grid-area: card4;
  }
}
