@use "/src/styles/fonts";
@use "/src/styles/breakPoints";
@use "/src/styles/variables";
@use "/src/styles/colors";

.nav__wrapper {
  width: 100vw;
  height: variables.$nav-height;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: variables.$padding;

  font-family: fonts.$font-header;

  .nav__wrapper-logo {
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
  }

  .nav__wrapper-place {
    font-size: variables.$font-size--16;
    font-weight: fonts.$font-bold;
    ul {
      list-style: none;

      display: flex;
      gap: 4rem;

      a {
        cursor: pointer;
        text-transform: lowercase;
        text-decoration: none;
        color: rgb(130 130 130 / 1);
      }

      a:hover,
      a.active {
        color: inherit;
      }
    }
  }
}
