@use "/src/styles/fonts";
@use "/src/styles/breakPoints";
@use "/src/styles/variables";
@use "/src/styles/colors";

.projects {
  padding: variables.$padding;
  .projects__heading {
    font-family: fonts.$font-latin--display;
    font-size: variables.$font-size--60;
    padding: 5rem 0rem 1rem;
  }

  .projects__desc {
    font-family: fonts.$font-latin--display;
    font-size: variables.$font-size--14;
    font-weight: 300;

    button {
      margin-top: 1rem;
      text-transform: capitalize;
      font-family: fonts.$font-latin--display;
      background-color: colors.$color--blue30;
      color: colors.$color--white;
      font-size: variables.$font-size--15;
      border-radius: variables.$border-radius;
      outline: none;
      border: none;
      padding: 0.8rem 1.2rem;
    }
  }

  .projects__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem 0rem;

    h3 {
      font-family: fonts.$font-latin--display;
      text-decoration: underline;
      font-size: variables.$font-size--16;
    }

    p {
      font-family: fonts.$font-latin--display;
      font-size: variables.$font-size--14;
      font-weight: 300;
      margin-top: 1rem;
    }

    .projects__details_l {
      padding-right: 4rem;
    }

    .projects__details_r {
      border-left: 1px solid rgba(29, 29, 27, 0.3);
      display: flex;
      flex-direction: column;

      .firstOne {
        padding: 0 2rem 2rem;
      }

      div {
        padding: 2rem;
      }
    }

    .projects__details-stack {
      padding: 0 !important;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  // .projects__ss {
  //   padding: 5rem 0;
  //   border-bottom: 1px solid rgba(29, 29, 27, 0.3);
  //   h3 {
  //     font-family: fonts.$ff-headings;
  //     text-decoration: underline;
  //     font-size: 2rem;
  //     margin-bottom: 2rem;
  //   }

  //   .projects__ss-wrapper {
  //     display: grid;
  //     grid-template-columns: repeat(2, 1fr);

  //     img {
  //       padding: 5rem 5rem 0;
  //     }

  //     div {
  //       display: flex;
  //       flex-direction: column;
  //       align-items: center;
  //       gap: 2rem;
  //       padding-bottom: 2rem;
  //       font-size: 1.5rem;
  //       font-family: fonts.$ff-para-light;
  //     }
  //   }
  // }

  .next_projects__wrapper {
    margin-bottom: 2rem;
    h2 {
      font-family: fonts.$font-latin--display;
      text-decoration: underline;
      font-size: variables.$font-size--16;
      margin-bottom: 2rem;
    }
    .next_projects {
      display: grid;
      gap: 3rem;
      grid-template-columns: repeat(3, 1fr);
    }
    
  }
}

@media all and (max-width: breakPoints.$vp-mobile) {
  .projects {
    border: 1px solid red;
  }
}
