@use "/src/styles/fonts";
@use "/src/styles/breakPoints";
@use "/src/styles/variables";
@use "/src/styles/colors";

.contact__wrapper {
  padding: variables.$padding;
  .contact__content {
    padding: 2rem 0;

    .contact__content-h2 {
      font-family: fonts.$font-header;
      font-size: variables.$font-size--24;
      font-weight: fonts.$font-bold;
      margin-bottom: 1rem;
      text-transform: lowercase;
    }

    p {
      font-size: variables.$font-size--16;
      font-family: fonts.$font-para;
      font-weight: fonts.$font-regular;
      line-height: 170%;
      text-align: justify;
      color: rgb(51 51 51 / 1);
    }
  }

  .contact__wrapper-block {
    .contact__form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .input {
        border: none;
        border-bottom: 1px solid #d1d1d1;
        font-size: 1.4rem;
        font-family: fonts.$font-para;
        font-weight: 300;
      }

      button {
        font-family: fonts.$font-para;
        background-color: colors.$color--black;
        color: colors.$color--white;
        font-size: variables.$font-size--15;
        border-radius: variables.$border-radius;
        outline: none;
        border: none;
        padding: 0.8rem 1.2rem;
      }
    }
  }
}
