@use "/src/styles/fonts";
@use "/src/styles/breakPoints";
@use "/src/styles/variables";
@use "/src/styles/colors";

.contact__wrapper {
  padding: variables.$padding;
  .contact__content {
    padding: 2rem 0;

    .contact__content-h2 {
      font-family: fonts.$font-latin--display;
      font-size: variables.$font-size--30;
      margin-bottom: 2rem;
    }

    p {
      font-family: fonts.$font-latin--display;
      font-size: variables.$font-size--18;
      font-weight: 300;
    }
  }

  .contact__wrapper-block {
    .contact__form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .input {
        border: none;
        border-bottom: 1px solid #d1d1d1;
        font-size: 1.4rem;
        font-family: fonts.$font-latin--display;
        font-weight: 300;
      }

      button {
        font-family: fonts.$font-latin--display;
        background-color: colors.$color--blue30;
        color: colors.$color--white;
        font-size: variables.$font-size--15;
        border-radius: variables.$border-radius;
        outline: none;
        border: none;
        padding: 0.8rem 1.2rem;
      }
    }
  }
}
