@use "/src/styles/fonts";
@use "/src/styles/breakPoints";
@use "/src/styles/variables";
@use "/src/styles/colors";

.home {
  padding: variables.$padding;
  margin: variables.$section-gap 0;
  .home_intro {
    .home_intro_h1 {
      margin-bottom: 5rem;
      font-size: variables.$font-size--90;
      font-family: fonts.$font-latin--display;
      font-weight: 500;

      .home_intro_h1-underline {
        position: relative;
        &::after {
          z-index: -1;
          content: "";
          position: absolute;
          height: 0.7rem;
          width: 99%;
          bottom: .5rem;
          background-color: colors.$color--blue30;
          transform: translateX(-100.5%);
        }
      }

      // i {
      //   font-weight: 100;
      //   font-family: fonts.$font-latin--extra-light;
      // }
    }

    .home_intro_p {
      margin: 3rem 0;
      margin-left: 1rem;
      font-size: variables.$font-size--18;
      font-family: fonts.$font-latin--display;
      font-weight: 300;
      width: 70%;
      text-align: justify;
      letter-spacing: .005rem;

      // b{
      //   font-family: fonts.$font-latin--display;
      //   font-weight: 600;
      //   font-style: italic;
      //   text-decoration: underline;
      // }
    }
  }

  button {
    margin-left: 1rem;
    font-family: fonts.$font-latin--display;
    background-color: colors.$color--blue30;
    color: colors.$color--white;
    font-size: variables.$font-size--15;
    border-radius: variables.$border-radius;
    outline: none;
    border: none;
    padding: .8rem 1.2rem;
  }
}

@media all and (max-width: breakPoints.$vp-mobile) {
  .home {
    .home_intro {
      .home_intro_h1 {
        font-size: 3.8rem;
        line-height: 4.5rem;
      }

      .home_intro_p {
        width: 100%;
        margin: 2rem 0;
        font-size: 1.5rem;
        &::first-letter {
          font-size: 1.7rem;
          font-family: fonts.$ff-headings;
          font-weight: 600;
        }
      }

      .home_intro_social_links {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1rem;

        li {
          width: 5rem;
        }
      }
    }
  }
}
