@use "/src/styles/fonts";
@use "/src/styles/breakPoints";
@use "/src/styles/variables";
@use "/src/styles/colors";

.home {
  padding: variables.$padding;
  
  margin: variables.$section-gap 0;
  .home_intro {
    .home_intro_h1 {
      margin-bottom: 5rem;
      font-size: variables.$font-size--50;
      font-family: fonts.$font-header;
      font-weight: fonts.$font-bold;
      color: rgb(18 22 27 / 1);
    }

    .home_intro_p {
      margin: 3rem 0;
      font-size: variables.$font-size--16;
      font-family: fonts.$font-para;
      font-weight: fonts.$font-regular;
      line-height: 140%;
      width: 90%;
      color: rgb(51 51 51 / 1);
    }
  }

  button {
    background-color: colors.$color--black;
    font-size: variables.$font-size--16;
    border-radius: variables.$border-radius;
    outline: none;
    border: none;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    a {
      font-family: fonts.$font-para;
      font-weight: fonts.$font-regular;
      text-decoration: none;
      color: colors.$color--white;
    }
  }
}

@media all and (max-width: breakPoints.$vp-mobile) {
  .home {
    .home_intro {
      .home_intro_h1 {
        font-size: 3.8rem;
        line-height: 4.5rem;
      }

      .home_intro_p {
        width: 100%;
        margin: 2rem 0;
        font-size: 1.5rem;
      }

      .home_intro_social_links {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1rem;

        li {
          width: 5rem;
        }
      }
    }
  }
}
